<table class="table">
    <thead>
        <tr>
            <th class="text-left">id</th>
            <th class="text-left">photo</th>
            <th class="text-left">Title</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
            <tr>
                <td width="80">{{this.item._id}}</td>
                <td><img src="{{this.item.imagePath}}" height="100"></td>
                <td class="text-left">{{#if this.item.title}}{{this.item.title}}{{else}}{{this.item.size}}{{/if}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
