<div class="row">
    <div class="col-md-6">
        <div class="product-image">
            <img src="{{product.imagePath}}" id="p-img">
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-details-wrapper white-box pad20 border-bottom-dashed">
            <div class="product-title title"><h1>{{product.title}}</h1></div>
            <div class="product-description">{{product.description}}</div>
        </div>

        <div class="product-details-wrapper white-box pad20">
            <div class="product-variant-wrapper">
                <label for="product-color">Colour:</label>
                <span id="product-color">{{product.color}}</span>
                <div class="product-variants">
                    <div class="product-variant-color">
                        <a href="#" onclick="changeVariant('{{product.imagePath}}', '{{product.color}}', '{{product.size}}', '{{product._id}}', '{{product.quantity}}')"><img src="{{product.imagePath}}"></a>
                    </div>
                    {{#each variants}}
                        <div class="product-variant-color">
                            <a href="#" onclick="changeVariant('{{imagePath}}', '{{color}}', '{{size}}', '{{_id}}', '{{quantity}}')"><img src="{{imagePath}}"></a>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="product-action-buttons">
              <div id="inventory-buy" class="inventory-buy" style="display:block; width:450px;">
                 <!-- <center>not supported by html5 -->
                  <a href="/add-to-bag/{{product._id}}" id="add-to-bag-link" class="btn btn-primary pad10">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    Add to bag
                  </a>
                <!-- </center> -->
              </div>
            </div>
        </div>
    </div>
</div>