<div class="row">
    <div class="col-md-12 col-centered">
        <div class="shopping-bag-wrapper border-around white-box pad20">
            <div class="bag-title title">
                <h1>Shopping Bag</h1>
            </div>
            {{#if items}}
                {{>shoppingBagItemList}}
                <div class="checkout" width="400px">
                    <a href="/group" class="btn btn-primary">Group!</a>
                </div>
                {{#if reccItems}}
                <!-- reccomendations go here -->
                  <div class="border">
                    <p><b>You may also like:</b></p>
                    <table><tr>
                      {{#each reccItems}}
                        <th>
                          <div style="min-height: 220px;max-height: 220px;">
                            <a href="/product-overview/{{_id}}">
                              <img style="min-height: 220px;max-height: 220px;" src="{{imagePath}}">
                            </a>
                            <div class="product-title">
                            <a  href="/product-overview/{{_id}}">{{title}}</a>
                          </div>
                          </div>
                        </th>
                      {{/each}}
                    </tr></table>
                  </div>
                {{/if}}
            {{else}}
              <div class="empty-bag">
                  bag is empty
              </div>
            {{/if}}
        </div>
    </div>
</div>